<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRM-system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<%= require('./includes/navbar.html') %>
<div class="container-fluid">
<div class="app-content">
    <%= require('./includes/sidebar.html') %>
    <div class="col-sm-12 main">
        <div class="row mt-1 pr-2">
            <div class="col-sm-12">
                <h1>Клиенты</h1>
                <!-- <button type="button" class="btn btn-sm btn-info float-right mr-2" id="addClient">Добавить</button> -->
            </div>
        </div>
        <div id="root">
            
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>